@tailwind base;
@tailwind components;
@tailwind utilities;

.wave {
  clip-path: path(
    "M0,100 C150,50 350,50 500,100 T1000,100 T1500,100 T2000,100 V200 H0 Z"
  );
}

div {
  /* Hide scrollbar for Webkit browsers (Chrome, Safari) */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

span::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
